<mat-accordion>
<form [formGroup]="form" *ngIf="patient | async">
    <div fxLayout="column" fxLayoutGap="10px">
        <bl-general-patient-details [parentForm]="form"></bl-general-patient-details>
        <bl-pregnancy-details [parentForm]="form"></bl-pregnancy-details>
        <bl-presentation-details [parentForm]="form"></bl-presentation-details>
        <bl-beta-readings-details [parentForm]="form"></bl-beta-readings-details>
        <bl-methotrexate-details [parentForm]="form"></bl-methotrexate-details>
        <bl-pathology-results-details [parentForm]="form"></bl-pathology-results-details>
        <bl-transvaginal-ultrasound-details [parentForm]="form"></bl-transvaginal-ultrasound-details>
        <bl-patient-interaction-details [parentForm]="form"></bl-patient-interaction-details>
        <bl-follow-up-details [parentForm]="form"></bl-follow-up-details>
    </div>
</form>
</mat-accordion>