<div fxLayout="row" fxLayoutGap="10px">
    <bl-input fxFlex="20" label="Gravity" type="number"></bl-input>
    <bl-input fxFlex="20" label="Full-Term Births" type="number"></bl-input>
    <bl-input fxFlex="20" label="Pre-Term Births" type="number"></bl-input>
    <bl-input fxFlex="20" label="Abortions" type="number"></bl-input>
    <bl-input fxFlex="20" label="Living Children" type="number"></bl-input>
</div>
<bl-date-picker label="LMP"></bl-date-picker>
<bl-select label="Presenting Symptoms" [options]="presentingSymptomOptions"></bl-select>
<bl-input label="Other Presenting Symptoms"></bl-input>