<!-- Begin Beta Reading List-->
<bl-date-picker label="Reading Date"></bl-date-picker>
<bl-input label="Level" type="number"></bl-input>
<!-- End Beta Reading -->

<!-- Begin Methotrexate Doses -->
<bl-date-picker label="Administration Date"></bl-date-picker>
<bl-input label="Quantity" type="number"></bl-input>
<!-- End Methotrexate Doses -->

<!-- Begin Pathology Result -->
<bl-date-picker label="Result Date"></bl-date-picker>
<bl-select label="Products of Conception Found" [options]="nullableBooleanRadioOptions"></bl-select>
<bl-text-area label="Other Birth Control Method"></bl-text-area>
<!-- End Pathology Result -->