<!-- Begin Patient Interation -->
<bl-date-picker label="Interaction Date"></bl-date-picker>
<!-- Start Doctor Visit -->
<bl-select label="MVA Performed" [options]="nullable_boolean_radio_options"></bl-select>
<bl-select label="Sonogram Performed" [options]="nullable_boolean_radio_options"></bl-select>
<bl-select label="No Action Performed" [options]="nullable_boolean_radio_options"></bl-select>
<bl-text-area label="Other Actions Performed"></bl-text-area>
<!-- End Doctor Visit -->
<bl-select label="Certified Letter Sent" [options]="nullable_boolean_radio_options"></bl-select>
<!-- Start Phone Calls -->
<bl-input label="Phone Number Called"></bl-input>
<bl-select label="Call Was Successful" [options]="nullable_boolean_radio_options"></bl-select>
<bl-select label="Message Left" [options]="nullable_boolean_radio_options"></bl-select>
<bl-select label="Unable To Reach" [options]="nullable_boolean_radio_options"></bl-select>
<!-- End Phone Calls -->
<!-- Start Emergency Department -->
<bl-select label="Sonogram Performed" [options]="nullable_boolean_radio_options"></bl-select>
<bl-select label="Beta Levels Measures" [options]="nullable_boolean_radio_options"></bl-select>
<bl-text-area label="Other Actions Performed"></bl-text-area>
<!-- End Emergency Department -->
<!-- End Patient Interaction -->