        <!-- Begin Follow Up Plans -->
        <bl-date-picker label="Start Date"></bl-date-picker>
        <bl-date-picker label="Due Date"></bl-date-picker>
        <bl-select label="Repeat Beta" [options]="nullable_boolean_radio_options"></bl-select>
        <bl-select label="Sonogram" [options]="nullable_boolean_radio_options"></bl-select>
        <bl-select label="MVA" [options]="nullable_boolean_radio_options"></bl-select>
        <bl-select label="Family Planning Appointment" [options]="nullable_boolean_radio_options"></bl-select>
        <bl-select label="Refer To Prenatal Care" [options]="nullable_boolean_radio_options"></bl-select>
        <!-- End Follow Up Plans -->