        <bl-date-picker label="Ultrasound Date"></bl-date-picker>
        <!-- Begin Uterus -->
        <bl-select label="Uterus Orientation" [options]="uterus_orientation_options"></bl-select>
        <bl-cubic-dimensions label="Uterus Dimensions"></bl-cubic-dimensions>
        <bl-input label="Endometrial Thickness" type="number"></bl-input>
        <!-- End Uterus -->
        <!-- Begin Ovaries -->
        <bl-slide-toggle label="Ovary Visualized"></bl-slide-toggle>
        <bl-cubic-dimensions label="Ovary Dimensions"></bl-cubic-dimensions>
        <!-- End Ovaries -->
        <bl-select label="Intrauterine Pregnancy Present" [options]="nullable_boolean_radio_options"></bl-select>
        <!-- Begin Gestational Sack -->
        <bl-input label="Gestational Sack Thickness" type="number"></bl-input>
        <!-- End Gestational Sack -->
        <bl-select label="Yolk Sack Present" [options]="nullable_boolean_radio_options"></bl-select>
        <bl-input label="Crown Rump Length" type="number"></bl-input>
        <bl-select label="Fetal Heart Rate Present" [options]="nullable_boolean_radio_options"></bl-select>
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-label fxFlex="33.33">Estimated Gestational Age</mat-label>
            <bl-input fxFlex="33.33" label="Weeks" type="number"></bl-input>
            <bl-input fxFlex="33.33" label="Days" type="number"></bl-input>
        </div>
        <!-- Begin Adnexal Masses -->
        <bl-select label="Adnexal Mass Side" [options]="adnexal_mass_side_options"></bl-select>
        <bl-select label="Adnexal Mass Location" [options]="adnexal_mass_location_options"></bl-select>
        <bl-input label="Adnexal Mass Size" type="number"></bl-input>

        <!-- End Adnexal Masses -->
        <bl-select label="Free Fluid Amount" [options]="free_fluid_amount_options"></bl-select>
