<div [formGroup]="generalPatientDetailsFormGroup" *ngIf="generalPatientDetails | async">
    <div fxLayout="row" fxLayoutGap="10px">
        <bl-input fxFlex="50" label="First Name" [control]="controls.first_name"></bl-input>
        <bl-input fxFlex="50" label="Last Name" [control]="controls.last_name"></bl-input>
    </div>
    <!-- <bl-input label="Phone Number"></bl-input>
    <div fxLayout="row" fxLayoutGap="10px">
        <bl-input fxFlex="50" label="MRN"></bl-input>
        <bl-date-picker fxFlex="50" label="Date of Birth"></bl-date-picker>
    </div> -->

    <!-- <bl-input label="Attending Last Name"></bl-input> -->
</div>